<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.analytics_id }}');
    </script> <!-- end of Google Analytics code-->
    <!-- Google Custom Search Engine code -->
    <script>
      (function() {
        var cx = '000212763911366633835:2bqo_r36hza';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <!-- end of Google Custom Search Engine code -->
    <!-- favicon code -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#1a237e">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#1a237e">
    <!-- end of favicon code -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/brands.css" integrity="sha384-VGCZwiSnlHXYDojsRqeMn3IVvdzTx5JEuHgqZ3bYLCLUBV8rvihHApoA1Aso2TZA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    {% if page.title %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
    {% include sharing.html %}
    {% feed_meta %}
  </head>
  <body>
    <a href = "/">
      <div id="logo-wrapper">
        <img id="flag" src="/assets/banner.png"/>
        <div id="central">
          <img id="logo" src="/assets/logo.png"/>
        </div>
      </div>
    </a>

    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainmenu" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-2x fa-bars"></i>
    </button>
    <nav>
      <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="list-separator nav navbar-nav well well-primary default">
          {% for item in site.menu %}
            {% if page.url == item.url %}
              {% assign is_current = "active" %}
            {% else %}
              {% assign is_current = "" %}
            {% endif %}
            <li class="nav-item {{ is_current }}">
              <a href="{{ item.url }}" class="nav-link">
                {{ item.text }}
                {% if page.url == item.url %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>



    <nav class="navbar navbar-expand-sm navbar-light bg-light rounded header">
      <div class="container">
        <span class="left">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav centered">
              {% for item in site.menu %}
                {% if page.url == item.url %}
                  {% assign is_current = "active" %}
                {% else %}
                  {% assign is_current = "" %}
                {% endif %}
                <li class="nav-item {{ is_current }}">
                  <a href="{{ item.url }}" class="nav-link">
                    {{ item.text }}
                    {% if page.url == item.url %}<span class="sr-only">(current)</span>{% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </span>
        <span class="right">
          <ul class="navbar-nav centered">
            <li class="nav-item">
              <a href="/search" class="nav-link"><i class="fas fa-search"></i> Search</a>
            </li>
          </ul>
        </span>
      </div>
    </nav>
    <main role="main" class="container">
      {% if page.path contains '_posts' %}
        <h2>{{ page.title }}</h2>
        <p>{{ page.date | date: "%A %-d %B %Y" }} / <a href="/blog/categories/{{ page.categories }}">{{ page.categories }}</a><p>
        <hr>
      {% else %}
      {% endif %}
    {{ content }}
    </main>
    <footer>
      <nav class="navbar navbar-expand-sm navbar-light bg-light rounded footer">
        <div class="container">
          <span class="left">
            <ul class="navbar-nav centered">
              <li class="nav-item">
                <span class="navbar-text">© Ynda Jas<span class="d-none d-sm-inline"> {{ site.time | date: '%Y' }}</span> -</span>
              </li>
              <li class="nav-item">
                <a href="/privacy" class="nav-link">Privacy<span class="d-none d-sm-inline"> policy</span></a>
              </li>
            </ul>
          </span>
          <span class="right">
            <ul class="navbar-nav centered">
              <li class="nav-item">
                <a href="https://facebook.com/{{ site.facebook }}" target="_blank" class="nav-link"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li class="nav-item">
                <a href="https://instagram.com/{{ site.instagram }}" target="_blank" class="nav-link"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="nav-item">
                <a href="https://twitter.com/{{ site.twitter }}" target="_blank" class="nav-link"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="nav-item">
                <a href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" class="nav-link"><i class="fab fa-linkedin"></i></a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/{{ site.github }}" target="_blank" class="nav-link"><i class="fab fa-github"></i></a>
              </li>
              <li class="nav-item">
                <a href="https://soundcloud.com/{{ site.soundcloud }}" target="_blank" class="nav-link"><i class="fab fa-soundcloud"></i></a>
              </li>
              <li class="nav-item">
                <a href="https://www.behance.net/{{ site.behance }}" target="_blank" class="nav-link"><i class="fab fa-behance"></i></a>
              </li>
              <li class="nav-item">
                <a href="/feed.xml" class="nav-link"><i class="fas fa-rss"></i></a>
              </li>
            </ul>
          </span>
        </div>
      </nav>
    </footer>
  </body>
</html>
